{{#unless isConnected}}
    <div class="ui active dimmer">
      {{#if logEnabled}}
          <button class="right floated circular ui yellow icon button" {{action "displayFeedbackModal"}} title="{{t 'loading-box.send_us_feedback' }}">
              <i class="ui icon bug"></i>
          </button>
      {{/if}}
        <div class="ui text loader">
            <p>{{t 'meeting-loading-box.loading'}}</p>
            <p><img src="/images/cern-logo-white-100.png" alt="CERN Logo"/></p>

        </div>
    </div>
    <p></p>
{{/unless}}