{{#unless isConnected}}
    <div class="ui active dimmer">
        <div class="ui text loader">
            <p>{{t 'meeting-loading-box.loading'}}</p>
            <p><img src="/images/cern-logo-white-100.png" alt="CERN Logo"/></p>

        </div>
    </div>
    <p></p>
{{/unless}}