{{top-navbar}}

<div class="main">
    <div class="ui stackable two column centered grid">
        <div class="column">
            <div class="ui segment center aligned">
                <h2 class="header">Downloads</h2>
                <h3 class="header">Chrome extension for sharing screen</h3>

                <p>If you want to share your screen with other users you must use Chrome or Firefox and install the
                    corresponding extension below:</p>

                <h5>Chrome</h5>

                <p><a href="https://chrome.google.com/webstore/detail/unnoficial-cern-vidyo-web/nlnngkdfbolcnognhapogafdlobbldop"
                      title="Download the Vidyo WebRTC Chrome extension">{{t "meeting-box.share_modal.download_chrome_extension" }}</a></p>

                <h5>Firefox</h5>
                <p><a href="https://addons.mozilla.org/es/firefox/addon/unnoficial-cern-webrtc-sharing/"
                      title="Download the Vidyo WebRTC Firefox extension">{{t "meeting-box.share_modal.download_firefox_extension" }}</a></p>

                <p>Once installed, you should reload the page so the application will detect the extension.</p>

                <h3 class="header">Other Vidyo clients</h3>

                <p class="center-align">If your platform or browser are not supported, you can download the
                    native Vidyo app client for your platform using the following links.</p>

                <h4 class="header">Desktop</h4>

                <p class="center-align">Download the desktop application from the <a href="https://vidyoportal.cern.ch/"
                                                                                     title="CERN Vidyo Portal">CERN
                    Vidyo Portal</a></p>

                <h4 class="header">iOS</h4>

                <p class="center-align">
                    <a href="https://itunes.apple.com/us/app/vidyomobile/id444062464?mt=8">
                        <img alt="iOS app on App Store"
                             src="images/app-store-button.png"/>
                    </a>
                </p>

                <h4 class="header">Android</h4>

                <p class="center-align">
                    <a href="https://play.google.com/store/apps/details?id=com.vidyo.VidyoClient&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1"><img
                            alt="Get it on Google Play"
                            src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png"
                            width="135px"/></a>
                </p>
            </div>
        </div>
    </div>
</div>

{{bottom-disclaimer}}
