{{cern-toolbar}}

{{top-navbar}}

<div class="main">
    <div class="ui stackable two column centered grid">
        <div class="column">
            <div class="ui segment">
                <h2 class="header">CERN Vidyo service Terms of Use</h2>

                <div>
                    <p>By using the CERN Vidyo service and any underlying third party-provided services (the Service),
                        you
                        recognise and agree that:</p>

                    <ol>
                        <li>CERN bases the Service on leading technologies and architectures, operated within the limits
                            of
                            its financial and human resources and made available by CERN on an "as is” and "best
                            efforts"
                            basis.
                        </li>

                        <li>Access to and use of the Service is not guaranteed.</li>

                        <li>CERN excludes liability for damage resulting from your access, inability to access and use
                            of
                            the Service, as well as for the security of information transmitted using the Service.
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>

{{bottom-disclaimer}}
