<div class="ui vertical masthead center aligned segment top-nav">

    <div class="ui text container">
        <a href="https://cern.ch" title="CERN"><img
                class="vertical-middle"
                src="images/cern/outline_80_white.png"
                alt="CERN Logo"/></a>{{#link-to "index" class="page-title"}}
        CERN WebRTC Client
        <small>beta</small>{{/link-to}}
    </div>

</div>